{% extends 'base.html' %}
{% block title %} blogdetail {% endblock title %}
{% block body %}
<div class="jumbotron">
    <div class="container p-3 my-3 ">
        <div class="blog-post">
            <h1 class="blog-post-title">{{detail.title}} </h1> by <p><strong>{{detail.author}}</strong></p>
            <p>{{ detail.content }}</p>
            <h4>comments</h4>
            {% if user.is_authenticated %}
            <form method="POST" action="{% url 'blogdetail' detail.id %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">enter your comments</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="comment"></textarea>
                    <input type="submit"></input>
                </div>
            </form>
            {% endif %}
            {% for i in all %}
            <div class="row my-5">
                <div class="col-1">
                    <img class="w-100 " src="/static/image/user.png" alt="user">
                </div>
                <div class="col-11">
                    <p><strong>{{i.user}}</strong></p>
                    <div>{{i.comments}}</div>
                    {% if user.is_authenticated %}
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="form-group">
                            <input class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="reply"name="reply"></input>
                            <input type="submit"></input>
                        </div>
                    </form>   
                    {% endif %}                 

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock body %}